@import "tailwindcss";

@theme {
  --color-old-gold-50: #fcfaee;
  --color-old-gold-100: #f5f0d0;
  --color-old-gold-200: #ebe09c;
  --color-old-gold-300: #e0cb69;
  --color-old-gold-400: #dabb4e;
  --color-old-gold-500: #cf9d31;
  --color-old-gold-600: #b77d28;
  --color-old-gold-700: #995e24;
  --color-old-gold-800: #7d4a23;
  --color-old-gold-900: #673e20;
  --color-old-gold-950: #3a200e;

  --font-serif: "Cardo", serif;
  --font-cinzel: "Cinzel", serif;
  --font-uncial: "Uncial Antiqua", cursive;

  --radius: 0.75rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-gradient-flow: gradient-flow 1s linear infinite;
  @keyframes gradient-flow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  --animate-floating: floating 3s ease-in-out infinite;
  @keyframes floating {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  @keyframes pulse {
    50% {
      opacity: 0.8;
    }
  }

  --animate-legendary-glow: legendary-glow 1s ease-in-out infinite;
  @keyframes legendary-glow {
    0%,
    100% {
      box-shadow: 0 0 15px var(--color-amber-500);
    }
    50% {
      box-shadow: 0 0 10px var(--color-amber-500);
    }
  }
}

@layer base {
  body {
    @apply bg-old-gold-100 font-serif text-old-gold-950;
  }
}

@layer components {
  .maxed-out {
    @apply animate-gradient-flow bg-[length:200%_100%];
    background-image: linear-gradient(
      to right,
      var(--color-cyan-500),
      var(--color-teal-500),
      var(--color-cyan-500),
      var(--color-teal-500),
      var(--color-cyan-500)
    );
  }

  .rarity-legendary {
    @apply bg-[length:200%_100%];
    background-image: linear-gradient(
      to right,
      var(--color-yellow-500),
      var(--color-amber-500),
      var(--color-yellow-500),
      var(--color-amber-500),
      var(--color-yellow-500)
    );
    animation: var(--animate-legendary-glow), var(--animate-gradient-flow);
  }
  .rarity-epic {
    @apply bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500;
  }
  .rarity-rare {
    @apply bg-gradient-to-r from-cyan-500 to-indigo-500;
  }
  .rarity-uncommon {
    @apply bg-gradient-to-r from-green-500 to-emerald-500;
  }
  .rarity-common {
    @apply bg-gradient-to-r from-gray-500 to-slate-500;
  }
}
